<div id="TopBar">
    <div>
        <span data-appname></span>
        <span data-appversion></span>
    </div>
    <div class="container" style="height:inherit">
        <button id="runServ"><img src="../public/styles/play.png" alt="">run
        </button>        
        <button id="stopServ"><img src="../public/styles/stop.png" alt="">stop
        </button>
        <button id="btnoptions"><img src="../public/styles/settings.png" alt="">options
        </button>
    </div>
</div>

<script>
    window.addEventListener("DOMContentLoaded", async () => {
        $("[data-appname]").text(APPDATAS.name)
        $("[data-appversion]").text(" v" + APPDATAS.version)

        $("#btnoptions").click(function () {
            renderOptions()
        });
    })
</script>
<style>
    #TopBar {
        height: 40px;
        background: var(--blue);
        font-size: 1.5em;
        text-transform: uppercase;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 100%;
    }

    #btnoptions {
        height: inherit;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background: #cdcecf30;
        border: 1px solid #ffffff57;
        text-transform: uppercase;
        color: #e6e6e6;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    #btnoptions img , #runServ img{
        width: 20px;
    }

    #btnoptions:hover {
        box-shadow: 0 0 5px 0px #00000078;
    }

    #runServ, #stopServ {
        height: inherit;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background: #cdcecf30;
        border: 1px solid #ffffff57;
        text-transform: uppercase;
        color: #e6e6e6;
        cursor: pointer;
        transition: all 0.3s ease;
        margin:0 5px;
    }
    #stopServ{
        display: none;
    }

    #runServ:hover {
        box-shadow: 0 0 5px 0px #00000078;
    }
</style>