<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/app.css">
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/renderer.js"></script>
</head>

<body>
    <%- include('../partials/TopBar') %>
        <%- include('../partials/Options') %>

            <div class="row" id="paths">
                <div class="container wrap">
                    <span id="keybindFile">keybinds file : </span>
                    <span data-keybindFile></span>
                </div>
                <div class="container wrap">
                    <span id="layoutPath">layout path : </span>
                    <span data-layoutPath></span>
                </div>
            </div>

            <div class="container row wrap" id="logs">
            </div>

</body>
<script>
    window.addEventListener("DOMContentLoaded", async () => {
        let lineIndex = 0;
        var keybindFile = localStorage.getItem('keybindFile') || "Select"
        var layoutPath = localStorage.getItem('layoutPath') || "Select"
        $('[data-layoutPath]').text(layoutPath)
        $('[data-keybindFile]').text(keybindFile.substring(keybindFile.lastIndexOf("\\") + 1))
        if (localStorage.getItem('keybindFile')) {
            api.send('set:keybindFile', keybindFile)
        }
        if (localStorage.getItem('layoutPath')) {
            api.send('set:layoutPath', layoutPath)
        }

        // get
        api.receive("new:bind", async (arg) => {
            renderLogs(arg[0])
        })
        api.receive("return:layoutPath", async (arg) => {
            console.log(arg[0]);
            layoutPath = arg[0]
            $('[data-layoutPath]').text(layoutPath)
            localStorage.setItem('layoutPath', layoutPath)
        })
        api.receive("return:keybindFile", async (arg) => {
            console.log(arg[0]);
            keybindFile = arg[0]
            $("#logs").empty()

            $('[data-keybindFile]').text(keybindFile)
            localStorage.setItem('keybindFile', keybindFile)
            api.send('set:keybindFile', keybindFile)

        })
        api.receive("return:bindings", async (arg) => {
            console.log('o');
            console.log(arg[0]);
            renderLogs(arg[0])
        })
        // set
        $("#keybindFile").click(function () {
            api.send("open:keybindFile")
        });
        $("#layoutPath").click(async function () {
            api.send("open:layoutPath")
        });
        $("#runServ").click(function () {
            if (layoutPath !== "Select") {
                api.send("run:server", layoutPath)
            }
        });

        function renderLogs(bind) {
            console.log("bind");
            console.log(bind);

            $("#logs").append(`
                    <div class="line container wrap" style="background-color: #364a72">
                        <span class="name row">${bind.name}</span> 
                        ${bind.keys.modifiers.length !== 0 ? bind.keys.modifiers.map(modifier => `<span class="keys modifs">${modifier}</span>`).join(' ') : ""}
                        <span class="keys key">${bind.keys.key}</span> 
                        ${bind.doubletap === true ? `<span class="keys dt">doubletap</span>` : ""}
                        ${bind.hold === true ? `<span class="keys h">hold</span>` : ""}
                    </div>
                `)
            lineIndex++;
        }
    })
</script>
<style>
    .line {
        flex-basis: fit-content;
    flex-grow: 1;
    padding: 5px;
    margin: 2px;
    }

    .line .name {
        font-weight: bold;
    text-transform: uppercase;
    margin: 5px;
    }

    .line .keys {
        background-color: #10101096;
        padding: 4px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: monospace;
    display: flex;
    align-items: center;
    }
    .key{
        color: #12daf1;
    font-size: 18px;
    font-weight: 800;
    }
    .modifs{

    }
    .dt, .h{
        color: #f15d5d;;
    }


    #paths {
        padding: 6px;
        background-color: #00000063;
    }

    .container>span {
        margin-right: 10px;
    }
    #logs{
        overflow: auto;
        height: calc(100vh - 102px);
    align-content: baseline;
    }

</style>

</html>